<!DOCTYPE html>
<html lang="ru">
<%- include('partials/header') %>
<body>
    <h1>Тут будет главна страница, сайта</h1>
    <p>Это моя первая веб-страница на HTML.</p>
    <div>
        <a href="/reg">Тут можете пройти регистрацию</a>    
    </div>
    <div>
        <a href="sign_in">Тут можете войти в аккаунт</a>
    </div>    
</body>
</html>
