<!DOCTYPE html>
<html lang="ru">
    <%- include('partials/header') %>
<body>
    <h1>Добро пожаловать, <%= user.name %>!</h1>
    <p>Email: <%= user.email %></p>
    <p>Телефон: <%= user.phone_number %></p>
    <!-- Дополнительные данные и действия для пользователя -->
</body>
</html>
