<!DOCTYPE html>
<html lang="ru">
    <%- include('partials/header') %>
<body>
    <div class="container">
        <h2>Вход в аккаунт</h2>
        <form action="#" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>